@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-400;
  }
}

@font-face {
  font-family: "Poppins-Bold";
  font-family: "Poppins-Regular";
  src: url("./assets/Fonts/Poppins-Bold.ttf");
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}
